<nav>
	<ul>
		<li>
			<a href="#duved">
				Duved
			</a>
		</li>
		<li>
			<a href="#stugan">
				Stugan
			</a>
		</li>
		<li>
			<a href="#uthyrning">
				Uthyrning
			</a>
		</li>
		<li>
			<a href="#kontakt">
				Kontakt
			</a>
		</li>
	</ul>
</nav>